@charset "UTF-8";

/* 
    Em HTML é id = Em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: #EBE5AC;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4D4A38;
}

h1#principal {
    text-align: center;
    background-color: #4D4A38;
    color: #C7C291;
}

h2 {
    color: #757256;
}

.basico{
    color: #3e7930;
}

.intermediario{
    color: #7e7728;
}

.avançado{
    color: rgb(114, 28, 28);
}

.destaque{
    background-color: rgba(124, 27, 27, 0.555);
}