@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

a {
    background-color: blueviolet;
    color: white;
    padding: 1vh;
    margin-left: 6vh;
}